/* Main Container */
.main-container-for-columns {
  display: flex; /* Display flex */
  flex-wrap: wrap; /* Wrap elements to a new line when there is no space left in the container */
  justify-content: space-around; /* Align items to the start of the container */
  width: 1080px;
  height: 100%;
}

/* Input Column */
.first-column-results {
  min-width: 0;
  max-width: 32%;
  text-align: center; /* Align text to center */
}

/* Result Column */
.result-column {
  min-width: 0;
  max-width: 33.33%;
  text-align: center; /* Align text to center */
}

/* Third Column */
.third-column {
  min-width: 0;
  max-width: 33.33%;
  text-align: center; /* Align text to center */
}

/* Section */
.section {
  padding: 20px;
  background-color: #f1f1f1;
  margin: 0 10px 10px 10px;
  border-radius: 5px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  /* Switch to a single column layout */
  .main-container-for-columns {
    flex-direction: column;
    width: auto;
  }

  /* Full width for all columns */
  .first-column-results,
  .result-column,
  .third-column {
    text-align: left; /* Align text to left */
  }
}

/* Add A Background from a file */
body {
  background-image: url(https://cdn.wallpaperhub.app/cloudcache/b/d/7/6/4/b/bd764bb25d49a05105060185774ba14cd2c846f7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.imposition-visualization {
  /* Styles for the second column */
}

.imposition-wrapper {
  /* Styles for the wrapper within the second column */
}

.sheet-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid black;
  position: relative;
}